In [22]:
#@title
import matplotlib.pylab as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [23]:
data = pd.read_csv("https://covid19.manaus.am.gov.br/wp-content/uploads/Manaus.csv",sep=';', parse_dates=["_dt_notificacao"])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,6,7,8,9,10,11,12,13,14,15,16,17,18,22,23,26,27,28,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data.head()

In [ ]:
data.tail()

1. Quantos atributos descrevem cada exemplo? Quais são eles?

In [ ]:
data.shape

**Resposta**: Cada exemplo possui 39 atributos, sendo eles informados na célula a seguir:

In [ ]:
data.columns

2. Quantos casos confirmados há em Manaus, cumulativamente?

In [ ]:
data['_classificacao'].value_counts()

**Resposta:** No dataset constam 80420 casos confirmados, 126563 casos descartados e 37001 casos em análise

3. A qual período de tempo a base de dados se refere, isto é, qual o registro mais antigo e qual o mais recente? Leve em conta a data de notificação.

In [24]:
data["_dt_notificacao"].min(), data["_dt_notificacao"].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2020-12-29 00:00:00'))

**Resposta:** O período de tempo da base de dados é de 01/01/2020 até 29/12/2020.